body {
     background-color: #f8f9fa; 
     color: #333; 
    }

.card{
  transition: 0.3s ease;
}
.card:hover{
  border-color: #35AA73;
  transform: scale(1.05);
}

.hidden {
     display: none; 
    }
footer {
     background-color: #343a40; color: #fff; padding: 20px 0; margin-top: 40px; text-align: center; 
    }
footer a { 
    color: #ffc107; text-decoration: none; font-weight: bold; 
}
footer a:hover {
     text-decoration: underline; 
    }

.icon-green {
        color: #35ac72;
    }
.icon-white {
        color: #fff;
    }


      
.tajawal-light {
        font-family: "Tajawal", serif;
        font-weight: 300;
        font-style: normal;
      }
      
.tajawal-regular {
        font-family: "Tajawal", serif;
        font-weight: 400;
        font-style: normal;
      }
      
.tajawal-medium {
        font-family: "Tajawal", serif;
        font-weight: 500;
        font-style: normal;
      }
      
.tajawal-bold {
        font-family: "Tajawal", serif;
        font-weight: 700;
        font-style: normal;
      }
      
.tajawal-extrabold {
        font-family: "Tajawal", serif;
        font-weight: 800;
        font-style: normal;
      }
      
.tajawal-black {
        font-family: "Tajawal", serif;
        font-weight: 900;
        font-style: normal;
      }
.background {
        background-color: #35ac72;
        color: #fff;
      }
.secondary-background {
        background-color: #f8f9fa;
        color: #333;
      } 
.result-color{
    color: #333;
}
.background-btn {
    background-color: #35ac72;
    color: #fff;
  }
      