body {
  font-family: 'Tajawal', sans-serif;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.select-btn {
  font-size: 1rem;
  padding: 10px;
  transition: background 0.3s ease-in-out;
}
.select-btn:hover {
  background-color: #343a40;
  color: #fff;
}

.select-btn.selected {
  background-color: #343a40;
}

.background {
  background-color: #35ac72;
  color: #fff;
}
.secondary-background {
  background-color: #f8f9fa;
  color: #333;
} 
.background-btn {
background-color: #35ac72;
color: #fff;
}


footer {
     background-color: #343a40; color: #fff; padding: 20px 0; margin-top: 40px; text-align: center; 
    }
footer a { 
    color: #ffc107; text-decoration: none; font-weight: bold; 
}
footer a:hover {
     text-decoration: underline; 
    }

.icon-green {
        color: #35ac72;
    }
.icon-white {
        color: #fff;
    }


      
.tajawal-light {
        font-family: "Tajawal", serif;
        font-weight: 300;
        font-style: normal;
      }
      
.tajawal-regular {
        font-family: "Tajawal", serif;
        font-weight: 400;
        font-style: normal;
      }
      
.tajawal-medium {
        font-family: "Tajawal", serif;
        font-weight: 500;
        font-style: normal;
      }
      
.tajawal-bold {
        font-family: "Tajawal", serif;
        font-weight: 700;
        font-style: normal;
      }
      
.tajawal-extrabold {
        font-family: "Tajawal", serif;
        font-weight: 800;
        font-style: normal;
      }
      
.tajawal-black {
        font-family: "Tajawal", serif;
        font-weight: 900;
        font-style: normal;
      }



/* Best Package Label (Ribbon Style) */
.best-package-label {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ffd700; /* Gold Color */
  color: black;
  padding: 5px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  transform: rotate(-10deg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}






